
// boton "agregar al carrito"
.btn-primary{
    background-color: $c-verde-comun;
}

//Titulo de tarjetas
.card-title{
    font-family: $ff-raleway;
    color: $c-verde-comun;
}

.card-text{
    color: $c-verde-comun;
}
